.textoEscondido {
	visibility:hidden;
	display:none;
}


html {
	font-family:"Trebuchet MS", "Verdana", "Arial";
	font-size:12px;
	background-color:#dbdbdb;
	width:500px;
	margin:auto;
}

body {
	margin:auto;
	background-color:#f2e6e8;
	height:600px;
}

h1 {
	text-align: center;
	padding-top: 10px;
	font-size:18px;
}

#arvore {
	/*float:left;
	width:400px;*/
	margin-left: 25px;
	background: #f2e6e8;
	height:530px;
	overflow:auto;
}

#arvore a{
	white-space:normal !important; 
	height: auto; 
	padding:1px 2px;
	/*background:#cbd1e8;*/
}

#arvore li > ins { 
	vertical-align:top; 
}

#arvore .jstree-hovered, #arvore .jstree-clicked { 
	border:0; 
	background:#cbd1e8;
	color:#750d0d;
}

#arvore .jstree-clicked { 
	font-weight: bold;
}
/*
#dialog{
	float:right;
	width:580px;
	height:524px;
	margin-right:20px;
	background-color:#F6F6F6;
	text-align: justify;
	overflow: auto;
	border: thin dotted;
	border-color: #DBDBDB;
	
}
*/

